.inner-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}
 p a {
   color: #cd7d2d;
 }

.about-section {
  height: 45%;
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  top:0;
  background-color: #fff;
  padding-top: 26rem;
}

.about-section h1 {
  font-family: 'Canela Web';
  font-weight: 300;
  font-size: 68px;
  text-align: left;
  padding-left: 20%;
  color: #1b0f51;
}

.about-section h3 {
  text-align: left;
  font-family: 'canada-type-gibson';
  padding-left: 20%;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 600;
  font-size: 15px;
  color: #a48db9;
}

.about-section p {
  font-family: "essonnes-dispay";
  max-width: 90%;
  line-height: 30px;
  text-align: left;
  padding: 4% 8% 2% 20%;
  color: #7b7b7b;
}

.coffee {
  margin-left: 20%;
  width: 232px;
  height: 44px;
  border-radius: 4px;
  background: radial-gradient(circle at 50% -27%, #fdb874, #cd7d2d);
  box-shadow: 0 10px 20px 0 rgba(205, 125, 45, 0.30);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.coffee:hover {
  box-shadow: 0 5px 10px 0 rgba(205, 125, 45, 0.30);
  background: radial-gradient(circle at 50% -60%, #fdb874, #cd7d2d);
}

.coffee a:hover {
  text-decoration: none !important;
}

.coffee .grab-coffee {
  font-weight: 600;
  letter-spacing: 5px;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 15%;
  padding-top: 5.5%;
}

.projects {
  display: grid;
  grid-row-gap: 32px;
  grid-column-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  background-color: #f2f1f6;
  padding: 5% 5% 7% 5%;
}

.project {
  background-color: #fff;
  margin: 0 2.5%;
  padding-bottom: 5%;
  min-height: 600px;  
  position: relative;
}

.project-top {
  background-color: #a48db9;
  height: 12rem;
  width: 100%;
  max-width: 300px; 
}

.project-top img {
  width: 100%;
}

.project p {
  font-family: "essonnes-dispay";
  max-width: 80%;
  color: #7b7b7b;
  line-height: 1.5;
  text-align: left;
  padding-left: 8%;
}

.project h3 {
  font-family: 'Canela Web';
  font-size: 26px;
  font-weight: 300;
  padding-top: 32px;
  padding-left: 8%;
  text-align: left;
  color: #1b0f51;
}

h3 a {
  color: #000;
}

.project ul {
  padding-left: 0;
}

.project li {
  font-family: 'canada-type-gibson';
  list-style-type: none;
  letter-spacing: 4px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 22px;
  color: #a48db9;
  padding-left: 8%;
}

.project .learn {
  display: none;
  font-family: 'canada-type-gibson';
  color: #cd7d2d;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-left: 8%;
  position: absolute;
  bottom: 32px;
}

/* Project hover */
.project:hover .learn {
  display: block;
  animation: fadein 0.5s ease;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.project .learn:hover {
  display: block;
  transition-delay: 1s;
}
a:hover {
  text-decoration: none;
}

/* Image reveal */
.large-image {
  background-image: url(images/terrazzo@2x.jpg) no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
  height: 550px;
}

.large-image blockquote {
  color: #fff;
  text-align: center;
  font-size: 42px;
  font-weight: 300;
  line-height: 1.33;
  margin: 0 auto;
  padding-top: 8rem;
  width: 65%;
  font-family: 'canela web';
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote::before {
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: block;
}

.source {
  font-family: "canada-type-gibson";
  text-align: center;
  padding-top: 1%;
  color: #fff;
}

/* Fact Section */

.fact__section {
  height: 965px;
  background-color: #c78a4a;
  color: #fff;
  padding-top: 10em;
}
.fact__wrap {
  margin-left: 10%;
  margin-right: 11%;
}

.fact-first {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 275px;
  grid-template-areas:
    "a b c d e f g h";
}

.one {
  grid-area: g;
  margin-right: 11%;
}
.two {
  grid-area: h;
}

.fact-second {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 275px;
  grid-template-areas:
    'i j k l m n o p ';
  padding-top: 8em;
}
.three {
  grid-area: i;
}
.four {
  grid-area: j;
  margin-left: 11%;
}

.fact__section h3 {
  border-top: 2px solid #fff;
  width: 285px;
  font-size: 68px;
  font-family: 'Canela Web';
  padding-top: 2vh;
}

.fact__section h4 {
  padding-top: 40px;
  font-size: 26px;
  font-family: 'Canela Web';
}

.fact__section p {
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  width: 235px;
  font-family: "essonnes-display";
  letter-spacing: .4px;
}

/* Footer */

footer {
  display: grid;
  width: 100%;
  color: #fff;
}

.footer {
  color: #fff;
  height: 100%;
  background-color: #1b0f51;
}

.work-together {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 25vh;
  padding-bottom: 15vh;
}

.work h3 {
  font-family: 'Canela Web';
  font-size: 68px;
  font-weight: 300;
  line-height: 1.14;
}

.message, .social {
  font-family: "canada-type-gibson";
  text-transform: uppercase;
  color: #a48db9;
  font-weight: 600;
  padding-top: 3rem;
  letter-spacing: 4px;
  font-size: 12px;
}

.message a {
  color: #fff;
  float: left;
}

.email {
  font-family: "essonnes-text";
  font-style: italic;
  font-size: 24px;
}

.email a {
  color: #ffffff;
  text-decoration: none;
}

.footer-logo {
  padding: 4.5rem 5rem 4.5rem 10rem;
}

.icon {
  color: #fff;
}

.list li {
  display: inline;
  padding: 10px;
  font-size: 24px;
}

.list {
  list-style-type: none;
  padding: 0;
}

li a:hover {
  color: #a48db9;
}
.msg__soc--wrap {
  display: flex;
  justify-content: space-between;  
}

.social-area {
  margin-right: 34%; 
}

/* .social-area li {
  white-space: nowrap;
} */

@media (max-width: 1050px) {
  .about-section {
    padding-top: 20rem;
    height: 29%;
  }
  .about-section h1 {
    padding-top: 5%;
  }
  .project {
    margin: 0;
    justify-self: center;
  }
  .five {
    margin-bottom: 7%;
  }
  .large-image blockquote {
    font-size: 32px;
    margin-top: 0;
    padding-top: 9rem;
  }
  .msg__soc--wrap {
    display: block; 
  }
  .social-area {
    margin: 0;
  }
}

@media (max-width: 850px) {
  .main-body {
    display: block;
  }
  .inner-wrapper {
    display: block;
  }
  .about-section {
    padding-bottom: 10rem;
    position: relative;
    padding-top: 5rem;
  }
  .about-section h1 {
    padding-top: 10%;
    padding-left: 10%;
  }
  .about-section h3 {
    padding-left: 10%;
  }
  .about-section p {
    padding-left: 10%;
  }
  .coffee {
    margin-left: 10%;
    padding-left: 1%;
  }
  /* Fact-section */
  .one {
  grid-area: a;
  }
  .two {
    grid-area: c;
  } 
}

@media (max-width: 768px) {
  .project .learn {
    display: block;
  }
}

@media (max-width: 700px) {
  .fact__section {
    height: 100%;
    padding-bottom: 10em;
  }
  .fact-first,
  .fact-second {
    display: block;
    padding: 0;
    margin: 0;
  }
  .one,
  .two,
  .three,
  .four {
    margin-left: 5%;
    padding-top: 6%;
  }
  .work-together {
    display: block;
    padding-top: 20%;
    margin-left: 10%;
  }
  .footer-logo {
    padding: 0;
  }
  .work {
    padding-top: 10%;
  }
  .message-area,
  .social-area {
    margin-right: 0;
  }
}

@media only screen and (max-width: 550px) {
  /* image section */
  .large-image {
    background-image: url(images/terrazzo.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
  }
}

@media (max-width: 425px) {
  .about-section {
    justify-content: center;
    height: 100%;
  }
  .about-section h1 {
    padding-left: 0;
    margin-left: 10%;
    font-size: 48px;
  }
  .about-section h3 {
    padding-left: 0;
    margin-left: 10%;
  }
  .about-section p {
    padding-left: 0;
    margin-left: 10%;
  }
  .coffee {
    margin-left: 10%;
  }
  .coffee .grab-coffee {
    padding-left: 0;
  }
  .projects {
    justify-content: center;
  }
  .project {
    margin-top: 32px;
  }
  /* image blockquote */
  .large-image blockquote {
    font-size: 28px;
    width: 80%;
    padding-top: 7rem;
  }
  .footer {
    height: 100%;
  }
}
