body{
  background-color: #9FBDE1;
  font-family: 'Ultra', serif;
}
.about-section{
  position:absolute;
  width: 50%;
}
.about-section h1{
  padding: 48px;
  margin-left: auto;
  margin-right: auto;
}
.project-section{
  float:right;
  background-color: #7f97b4;
}
p{
  margin: 0 auto;
  padding: 50px;
}
